<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bold.Licensing" version="3.1.43" targetFramework="net472" />
  <package id="BoldReports.WPF" version="3.1.43" targetFramework="net472" />
  <package id="ControlzEx" version="4.3.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.6" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net472" />
  <package id="Stimulsoft.Reports.Engine" version="2021.3.5" targetFramework="net472" />
  <package id="Syncfusion.Chart.WPF.Classic" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Gauge.WPF" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Grid.WPF" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.Wpf" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Linq.Base" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Presentation.Wpf" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.SfMaps.WPF" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="18.3.0.35" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.3.0.35" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
</packages>